.G-rnd {border-radius: 50px;}

.tar {text-align: right;}
.tac {text-align: center;}
.tal {text-align: left;}

.acc {
  align-content: center;
}
.acr {
  align-content: right;
}
.acl {
  align-content: left;
}

.d-rtl {direction: rtl;}
.d-ltr {direction: ltr;}
.pad {padding: 15px;}
.container {
  width: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.AAA {
	  background-color:white;
	  width: 120px;
	  border-radius: 25px;
	  padding: 10px;
	  padding-top: 15px;
}
@media only screen and (max-width: 2500px){ 
  .container {max-width: 1000px;}
  .AAA	{margin: 25px;}
}
@media only screen and (max-width: 1050px){
  .container {max-width: 800px;}
  .AAA	{margin: 25px;}
}
@media only screen and (max-width: 850px){
  .container {max-width: 700px;}
  .AAA	{margin: 25px;}

}
@media only screen and (max-width: 710px){
  .container {max-width: 450px;}
  .AAA {margin: 2px;}
}
